.title {
    width: 100%;
    color: #fff395;
    font-family: roboto, sans-serif;
}

.display {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #f3e77f;
    margin-top: 100px;
}